<form enctype="multipart/form-data" action="<?php echo $_SERVER['PHP_SELF']; ?>" method="post">
<input type="hidden" name="bugid" value="<?php echo $bugid; ?>">
<input type="hidden" name="use_js" value="<?php echo get_request_int('use_js',0); ?>">
<table border="0" align="center">
	<tr>
		<td colspan="2" align="center">
			Please choose a file to upload and enter a one-line description.  
			<br>
			Maximum file size: <?php echo $max_size; ?> bytes
			<br>
			<br>
		</td>
	</tr>
	<?php if ($error) { ?>
		<tr>
			<td colspan="2" class="error"><?php echo $error; ?></td>
		</tr>
	<?php } ?>
	<tr>
		<td>
			File:
		</td>
		<td>
			<input type="file" name="attachment">
		</td>
	</tr>
	<tr>
		<td>
			Description:
		</td>
		<td>
			<input type="text" name="description" maxlength="255" value="<?php echo $description; ?>">
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="submit" name="submit" value="Upload attachment">
		</td>
	</tr>
</table>
</form>			
