<form action="bug.php?op=update&bugid={bugid}" method="post">
<input type="hidden" name="projectid" value="{projectid}">
<input type="hidden" name="last_modified_date" value="{lastmodifieddate}">
<input type="hidden" name="pos" value="{pos}">
<table border="0" width="640">
	<tr>
		<td>Bug <b>#{bugid}</b> - Return to <a href="query.php">bug list</a></td>
		<td align="right"><b>{prevlink}</b>{prevnextsep}<b>{nextlink}</b></td>
	</tr>
</table>
<table border="0" width="640">
	<tr>
		<td width="420" colspan="4">
			Reporter: <b>{reporter}</b>
		</td>
		<td width="210" colspan="2">
			Created: <b>{createddate}</b>
		</td>
	</tr>
	<tr>
		<td>
			Product:
		</td>
		<td>
			<select name="project_id">{project}</select>
		</td>
		<td>
			Component: 
		</td>
		<td>
			<select name="component_id">{component}</select>
		</td>
		<td>
			Version: 
		</td>
		<td>
			<select name="version_id">{version}</select>
		</td>
	</tr>
	<tr>
		<td>
			Severity: 
		</td>
		<td>
			<select name="severity_id">{severity}</select>
		</td>
		<td>
			Priority: 
		</td>
		<td>
			<select name="priority">{priority}</select>
		</td>
		<td>
			OS: 
		</td>
		<td>
			<select name="os_id">{os}</select>
		</td>
	</tr>
	<tr>
		<td colspan="6">
			<hr size="1">
		</td>
	</tr>
</table>
<table border="0" cellpadding="2" cellspacing="0" width="640">
	<tr>
		<td>Assigned To:</td>
		<td><b>{owner}</td>
		<td colspan="2">
			&nbsp;
		</td>
	</tr>
	<tr>
  	<td>Status:</td>
  	<td><b>{status}</b></td>
  	<td>Summary:</td>
  	<td><input type="text" size="30" maxlength="30" name="title" value="{title}"></td>
	</tr>
	<tr>
  	<td>Resolution:</td>
  	<td><b>{resolution}</b></td>
  	<td>{urllabel}:</td>
  	<td><input type="text" size="30" maxlength="255" name="url" value="{url}"></td>
	</tr>
	<tr>
  	<td colspan="4">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td valign="top" colspan="2">
			Update Bug Status:
			<br>
			<br>
			<font color="#ff0000">{statuserr}</font>
			<input type="radio" name="outcome" value="unchanged" checked> 
				Leave as <b>{status} {resolution}</b><br>
			<!-- BEGIN arow -->
			<input type="radio" name="outcome" value="assign"> 
				Accept bug (change status to <b>Assigned</b>)<br>
			<!-- END arow -->
			<!-- BEGIN rrow -->
			<input type="radio" name="outcome" value="resolve"> 
				Resolve bug, changing resolution to <select name="resolution_id">{bugresolution}</select><br>
			<input type="radio" name="outcome" value="dupe"> 
				Resolve bug, mark it as a duplicate of bug #<input type="text" name="dupenum" size="5"><br>
			<input type="radio" name="outcome" value="reassign"> 
				Reassign bug to 
				<!-- 
				Uncomment the text box and remove the select box if you want users
				to type in the login for assignment (e.g., to hide developer email addresses)
				<input type="text" name="reassignto">
				-->
				<select name="reassignto"><option value="0">Choose one</option>{developer_list}</select>
				<br>
			<input type="radio" name="outcome" value="reassigntocomponent"> 
				Reassign bug to owner of selected component<br>
			<!-- END rrow -->
			<!-- BEGIN rerow -->
			<input type="radio" name="outcome" value="reopen"> 
				Reopen bug<br>
			<!-- END rerow -->
			<!-- BEGIN vrow -->
			<input type="radio" name="outcome" value="verify"> 
				Mark bug as verified<br>
			<!-- END vrow -->
			<!-- BEGIN crow -->
			<input type="radio" name="outcome" value="close"> 
				Mark bug as closed<br>
			<!-- END crow -->
		</td>
		<td valign="top" colspan="2">
			Add CC:
			<br>
			<br>
			<input type="text" name="add_cc">
			<br>
			<br>
			Remove selected CCs:
			<br>
			<br>
			<select name="remove_cc[]" size="5" multiple>{cclist}</select>
		</td>
	</tr>
</table>
<table border="0" cellpadding="2" cellspacing="0" width="640">
	<tr>
		<td valign="top">
			Additional Comments:
			<br>
			<br>
			<textarea name="comments" rows="6" cols="55" wrap="virtual"></textarea>
			<br>
			<br>
			<div align="right">
				{submit}
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<table border="0" cellpadding="0">
				<tr>
					<td colspan="2">Attachments:</td>
					<td colspan="3" align="right"><a href="attachment.php?bugid={bugid}">Create attachment</a></td>
				</tr>
				<tr><td colspan="5" height="2" bgcolor="#ffffff"><spacer type="block" height="2" width="2"></td></tr>
				<tr>
					<td width="250" bgcolor="#cccccc" align="center"><b>Name</b></td>
					<td width="60" bgcolor="#cccccc" align="center"><b>Size</b></a></td>
					<td width="150" bgcolor="#cccccc" align="center"><b>Type</b></a></td>
					<td width="80" bgcolor="#cccccc" align="center"><b>Created</b></a></td>
					<td width="80" bgcolor="#cccccc" align="center">&nbsp;</a></td>
				</tr>
				<tr>
					<td bgcolor="#000000" height="1"><spacer type="block" height="1" width="1"></td>
					<td bgcolor="#000000" height="1"><spacer type="block" height="1" width="1"></td>
					<td bgcolor="#000000" height="1"><spacer type="block" height="1" width="1"></td>
					<td bgcolor="#000000" height="1"><spacer type="block" height="1" width="1"></td>
					<td bgcolor="#000000" height="1"><spacer type="block" height="1" width="1"></td>
				</tr>
				<!-- BEGIN attrow -->
				<tr title="{attdesc}">
					<td bgcolor="{bgcolor}">{attname}</td>
					<td bgcolor="{bgcolor}" align="right">{attsize}</td>
					<td bgcolor="{bgcolor}" align="center">{atttype}</td>
					<td bgcolor="{bgcolor}" align="center">{attdate}</td>
					<td bgcolor="{bgcolor}" align="center">{attaction}</td>
				</tr>
				<!-- END attrow -->
				<tr>
					<td bgcolor="#000000" height="1"><spacer type="block" height="1" width="1"></td>
					<td bgcolor="#000000" height="1"><spacer type="block" height="1" width="1"></td>
					<td bgcolor="#000000" height="1"><spacer type="block" height="1" width="1"></td>
					<td bgcolor="#000000" height="1"><spacer type="block" height="1" width="1"></td>
					<td bgcolor="#000000" height="1"><spacer type="block" height="1" width="1"></td>
				</tr>
				<tr><td colspan="5" height="2" bgcolor="#ffffff"><spacer type="block" height="2" width="2"></td></tr>
			</table>
		</td>
	</tr>
</table>
</form>

<b><a href="{me}?op=history&bugid={bugid}">View bug activity</a></b> | 
<b><a href="{me}?op=print&&bugid={bugid}">Printable view</a></b>

<br>
<br>
<table border="0" cellpadding="2" cellspacing="0" width="640">
	<tr>
		<td>
			Comments:
			<hr size="1">
		</td>
	</tr>
	<tr>
		<td>
			<div align="center">
				<i>----- Posted by {reporter} at {createdtime} on {createddate} -----</i>
				<br>
				<br>
			</div>
			{description}
			<br>
			<br>
			<br>
		</td>
	</tr>
	<!-- BEGIN row -->
	<tr>
		<td>
			<div align="center">
				<i>----- Posted by {rreporter} at {rcreateddate} -----</i>
				<br>
				<br>
			</div>
			{rdescription}
			<br>
			<br>
			<br>
		</td>
	</tr>
	<!-- END row -->
</table>
			
