{include file="header.html" page_title="Bug History"}
<table border="0" cellspacing="2" cellpadding="2">
	<tr bgcolor="#eeeeee">
		<th>Who</th>
		<th>What</th>
		<th>Old Value</th>
		<th>New Value</th>
		<th>When</th>
	</tr>
	{section name=event loop=$history}
		<tr{if $smarty.section.event.iteration is even} class="alt" bgcolor="#dddddd"{/if}>
			<td>{$history[event].login|maskemail}</td>
			<td>{$history[event].changed_field}</td>
			<td>&nbsp;{$history[event].old_value}</td>
			<td>&nbsp;{$history[event].new_value}</td>
			<td>{$history[event].created_date|date:DATE_FORMAT} {$history[event].created_date|date:TIME_FORMAT}</td>
		</tr>
	{sectionelse}
		<tr>
			<td colspan="5" align="center">{$STRING.nobughistory}</td>
		</tr>
	{/section}
</table>
<br>
<a href="{$smarty.server.PHP_SELF}?op=show&bugid={$smarty.get.bugid}">Back to bug #{$smarty.get.bugid}</a>
<br>
<br>
{include file="footer.html"}
