<script language='javascript'>
   function viewbug(a,b) {
	  self.location.href='bug.php?op=show&bugid='+a+'&pos='+b;
   }
</script>
<table class="bordertable" align="center" style="width: 100%">
	<tr>
		<?php for ($i = 0, $colcount = count($db_fields); $i < $colcount; $i++) { 
			echo "<th class='{$headers[$i]['class']}' bgcolor='{$headers[$i]['color']}'><a  href='{$headers[$i]['url']}'>{$field_titles[$i]}</a></th>";
		} ?>
	</tr>
	<?php if (!$bugcount = count($bugs)) { ?>
		<td colspan="<?php echo $colcount ?>" align="center">
			<?php echo translate("No bugs found"); ?>
		</td>
	<?php } else { ?>
		<?php for ($i = 0; $i < $bugcount; $i++) { ?>
				<?php if (USE_SEVERITY_COLOR) { ?> 
 					<tr class="bugrow" bgcolor="<?php echo $bugs[$i]['severity_color']; ?>" onclick="viewbug(<?php echo "{$bugs[$i]['bug_link_id']}, $i"; ?>)"> 
 				<?php } else { ?> 
 					<tr class="bugrow<?php echo ($i % 2 != 0) ? ' alt' : ''; ?>" onclick="viewbug(<?php echo "{$bugs[$i]['bug_link_id']}, $i"; ?>)">
				<?php } ?> 
				<?php 
					foreach ($bugs[$i] as $var => $val) {
						if ($var == 'bug_link_id') $bugid = $val;
						elseif ($var != 'severity_color') echo '<td>'.format_bug_col($val, $var, $bugid, $i).'</td>';
					}
				?>
			</tr>
		<?php } ?>
	<?php } ?>
</table>
<?php include('admin/pagination.html'); ?>
<?php if ($has_excel) { ?>
<div align="center">
	<a href="query.php?xl=1"><?php echo translate("Download to spreadsheet"); ?></a>
</div>
<?php } ?>
