<p><font color="red">
<?php echo translate($status); ?>
</font></p>

<?php echo translate("Edit comments (warning: changes history)"); ?>:<br/>
<br/>
<?php for ($i = 0, $ccount = count($comments); $i < $ccount; $i++) { ?>
<form action="<?php echo $_SERVER['SCRIPT_NAME']; ?>">
<input type="hidden" name="bugid"	value="<?php echo $comments[$i]['bug_id']; ?>">
<input type="hidden" name="commentID" 	value="<?php echo $comments[$i]['comment_id']; ?>">
Comment #<?php echo $comments[$i]['comment_id']; ?>&nbsp;&nbsp;<?php echo date(DATE_FORMAT, $comments[$i]['created_date']); ?><br/>
<textarea name="newComment" rows="6" cols="55" wrap="virtual" <?php echo $disabled ?>><?php echo isset($_POST['comments']) ? $_POST['comments'] : ''; ?>
<?php echo stripslashes($comments[$i]['comment_text']); ?>
</textarea>
<input type="submit" value="<?php echo translate("Edit"); ?>">
</form>
<br/>
<br/>
<?php } ?>
</table>
