<html>
<head>
  <META HTTP-EQUIV="Expires" CONTENT="-1">
	<title>phpBugTracker - {$page_title}</title>
	<link rel="StyleSheet" href="styles/{$STYLE}.css" type="text/css">
	<META http-equiv="Content-Type" content="text/html; charset={$STRING.lang_charset}">
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
	<table width="100%" cellspacing="0" cellpadding="0" height="100%">
		<tr>
			<td width="150" height="30" class="nav">
				&nbsp;&nbsp;phpBugTracker
			</td>
			<td height="30" class="nav" align="right">
				<form action="bug.php">
				<input type="hidden" name="op" value="show">
					Find bug <input type="text" name="bugid" size="4" class="navinput">
					&nbsp;
				</form>
			</td>
		</tr>
		<tr>
			<td width="150" class="sidenav">
				<!-- Nav Links -->
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='index.php'">
					<a href="index.php" class="sidenavlink">Home</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='bug.php?op=add'">
					<a href="bug.php?op=add" class="sidenavlink">Add a New Bug</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='query.php?op=query'">
					<a href="query.php?op=query" class="sidenavlink">Query Bugs</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='report.php'">
					<a href="report.php" class="sidenavlink">View Reports</a>
				</div>
				{if not NEW_ACCOUNTS_DISABLED and not $smarty.session.uid}
					<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='newaccount.php'">
						<a href="newaccount.php" class="sidenavlink">Create a new account</a>
					</div>
				{/if}
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='docs/html/userguide.html'">
					<a href="docs/html/userguide.html" class="sidenavlink">Read Documentation</a>
				</div>
				{if isset($perm) and $perm->have_perm('Administrator')}
					<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='admin/project.php'">
						<a href="admin/project.php" class="sidenavlink">Admin Tools</a>
					</div>
				{/if}
			</td>
			<td class="maincontent">
