<h2>Welcome to phpBugTracker</h2>
<TABLE BORDER=0 WIDTH="640">
	<tr>
		<td valign="top">
			<b>Here's what you can do:</b>
			<br>
			<br>
			<a href="query.php?op=query">Query existing bug reports</a><br>
			<a href="bug.php?op=add">Enter a new bug report</a><br>
			<a href="report.php">Get summary reports</a><br>
			<p>
			<a href="newaccount.php">Open a new account</a><br>
			<a href="user.php">Change password or user preferences</a><br>
			<a href="logout.php">Forget currently stored login</a><br>
			<br>
			<FORM METHOD=GET ACTION="bug.php">
			<input type="hidden" name="op" value="show">
			<INPUT TYPE=SUBMIT VALUE="Find"> bug # <INPUT NAME=bugid SIZE=6></FORM>
		</td>
		<td valign="top"> 
			<b>Quick stats</b>
			<br>
			<br>
			<table border="1" cellspacing="0" cellpadding="2">
				<tr>
					<th>Status</th>
					<th># bugs</th>
				</tr>
				<!-- BEGIN row -->
				<tr>
					<td>{status}</td>
					<td align="center">{count}</td>
				</tr>
				<!-- END row -->
			</table>
		</td>
	</tr>
</table>
