<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Trasitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title><?php echo translate("phpBugTracker Installation"); ?></title>
	<link rel="StyleSheet" href="styles/default.css" type="text/css">
	<meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
</head>
<body bgcolor="#ffffff" link="#006699" vlink="#006699" alink="#006699">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width="200" valign="top"><br />
			<table border="0" cellpadding="0" cellspacing="3">
				<tr>
					<td>
						<img src="logo.jpg" alt="phpBugTracker Logo" />
					</td>
				</tr>
				<tr>
					<td>
						<ul>
							<li><a href="README">README</a></li>
							<li><a href="INSTALL">INSTALL</a></li>
							<li><a href="UPGRADING">UPGRADING</a></li>
							<li><a href="docs/html/index.html">Documentation</a>
							<li><a href="COPYING">LICENSE</a></li>
						</ul>
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<div class="banner"><?php echo translate("phpBugTracker Installation"); ?></div>
			<p><div class="error">Already installed</div></p>
			<p>It seems as if phpBugTracker is already installed in
			this database and with this table prefix.</p>
			<p>You can do one of the following:</p>
			<ol>
			<li>Go back to the previous screen and choose another database or
			another table prefix.</li>
			<li>Force an install in this database and with this table prefix.</li>
			<li>Save a config file with the submitted options and upgrade your old database.</li>
			</ol>
			<hr>
			<h4>1. Choose another database or table prefix</h4>
			<p>
			If you wish to have a look at the newest version of
			phpBugTracker and try it out in a safe environment
			while deciding whether it is stable enough for your
			needs you can better choose another database or table
			prefix. Keeping the new and old versions of
			phpBugTracker in separate databases or separated by
			different table prefixes you can run both versions
			without any interference. But there will also be no
			interaction between the two versions. To be able to
			work with your old bugs in the new version your old
			database will have to be upgraded one day.
			</p>

<form action="install.php" method="post">
	<input type="hidden" name="db_type" value="<?php echo $db_type; ?>">
	<input type="hidden" name="db_host" value="<?php echo $db_host; ?>">
	<input type="hidden" name="db_database" value="<?php echo $db_database; ?>">
	<input type="hidden" name="db_user" value="<?php echo $db_user; ?>">
	<input type="hidden" name="db_pass" value="<?php echo $db_pass; ?>">
	<input type="hidden" name="tbl_prefix" value="<?php echo $tbl_prefix; ?>">
	<input type="hidden" name="phpbt_email" value="<?php echo $phpbt_email; ?>">
	<input type="hidden" name="admin_login" value="<?php echo $admin_login; ?>">
	<input type="hidden" name="admin_pass" value="">
	<input type="hidden" name="admin_pass2" value="">
	<input type="hidden" name="encrypt_pass" value="<?php echo $encrypt_pass; ?>">
	<input type="submit" value="Change Options">
</form>

			<hr>
			<h4>2. Force an install</h4>
			<p>
			This is usually a bad choice. If you have tried to
			install phpBugTracker but failed and now think that
			the problem is solved a forced install might be what
			you want. Another possibility would be to instead
			remove the half-installed database or tables to allow
			a normal install.
			</p>

<form action="install.php" method="post">
	<input type="hidden" name="op" value="<?php echo $op; ?>">
	<input type="hidden" name="db_type" value="<?php echo $db_type; ?>">
	<input type="hidden" name="db_host" value="<?php echo $db_host; ?>">
	<input type="hidden" name="db_database" value="<?php echo $db_database; ?>">
	<input type="hidden" name="db_user" value="<?php echo $db_user; ?>">
	<input type="hidden" name="db_pass" value="<?php echo $db_pass; ?>">
	<input type="hidden" name="tbl_prefix" value="<?php echo $tbl_prefix; ?>">
	<input type="hidden" name="phpbt_email" value="<?php echo $phpbt_email; ?>">
	<input type="hidden" name="admin_login" value="<?php echo $admin_login; ?>">
	<input type="hidden" name="admin_pass" value="<?php echo $admin_pass; ?>">
	<input type="hidden" name="admin_pass2" value="<?php echo $admin_pass2; ?>">
	<input type="hidden" name="encrypt_pass" value="<?php echo $encrypt_pass; ?>">
	<input type="hidden" name="force_install" value="1">
	<input type="submit" value="Force Install !">
</form>

			<hr>
			<h4>3. Save options and Upgrade</h4>
		<p>
			If phpBugTracker is already installed upgrading the
			database is almost always the right thing to do. This
			will let you use the new version of phpBugTracker with
			your old bugs.
		</p><p>
			<em>Notice</em>: Your database will be modified during
			the upgrade. There is no guarantee that an earlier
			version of phpBugTracker can still be used after an
			upgrade. We hope that the upgrade will go smooth and
			that the new version is stable enough for you to
			use. But you are warned: There is no easy way
			back. Please backup your database before continuing.
		</p>

<form action="install.php" method="post">
	<input type="hidden" name="db_type" value="<?php echo $db_type; ?>">
	<input type="hidden" name="db_host" value="<?php echo $db_host; ?>">
	<input type="hidden" name="db_database" value="<?php echo $db_database; ?>">
	<input type="hidden" name="db_user" value="<?php echo $db_user; ?>">
	<input type="hidden" name="db_pass" value="<?php echo $db_pass; ?>">
	<input type="hidden" name="tbl_prefix" value="<?php echo $tbl_prefix; ?>">
	<input type="hidden" name="phpbt_email" value="<?php echo $phpbt_email; ?>">
	<input type="hidden" name="admin_login" value="<?php echo $admin_login; ?>">
	<input type="hidden" name="admin_pass" value="<?php echo $admin_pass; ?>">
	<input type="hidden" name="admin_pass2" value="<?php echo $admin_pass2; ?>">
	<input type="hidden" name="encrypt_pass" value="<?php echo $encrypt_pass; ?>">
	<input type="hidden" name="no_install" value="1">
	<input type="submit" value="Save Options">
	<?php if (@is_writeable('config.php')) { ?>
		<p>
			When you click the button config.php will be saved to
		disk. Afterwards you will be able to upgrade the bug tracker.
		</p>
		<input type="hidden" name="op" value="save_config_file" />
	<?php } else { ?>
		<p>
			Since config.php is not writeable by this script, when
		you click the button you will be prompted to save config.php.
		Copy this file to the location of the bug tracker. Afterwards
		you will be able to <a href="upgrade.php">upgrade the bug
		tracker</a>.
		</p>
		<input type="hidden" name="op" value="dump_config_file" />
	<?php } ?>
</form>

			<br>
			<hr size="1" width="300">
		</td>
	</tr>
</table>
</body>
</html>
