<html>
	<head>
		<title>DB Test Success</title>
		<link rel="StyleSheet" href="styles/default.css" type="text/css">
	</head>
	<body>
		<br><br>
		<div align="center">
			The installation script successfully connected to the database
			<b><?php echo $params['db_database']?></b> on the host <b><?php echo $params['db_host']?></b>
			using the specified username and password.
			<br>
			Congratulations!
			<br>
			<br>
			<a href="javascript:window.close()">Close window</a>
		</div>
	</body>
</html>
