<script language="JavaScript">
<!-- 
versions = new Array();
components = new Array();
versions['All'] = new Array(new Array('','All'));
components['All'] = new Array(new Array('','All'));
{js}

function updateMenus(f) {
  sel = f.projects[f.projects.selectedIndex].text;
  f.versions.length = versions[sel].length;
  for (var x = 0; x < versions[sel].length; x++) {
    f.versions.options[x].value = versions[sel][x][0];
    f.versions.options[x].text = versions[sel][x][1];
  }
  f.components.length = components[sel].length;
  for (var x = 0; x < components[sel].length; x++) {
    f.components.options[x].value = components[sel][x][0];
    f.components.options[x].text = components[sel][x][1];
  }
}
//-->
</script>
    <form method="get" action="query.php" name="query">
      <table>
        <tr>
          <th align="left">Status:</th>
          <th align="left">Resolution:</th>
          <th align="left">OpSys:</th>
          <th align="left">Priority:</th>
          <th align="left">Severity:</th>
        </tr>

        <tr>
          <td align="left" valign="top">
						<select name="status[]" multiple size="7">{status}</select>
					</td>
          <td align="left" valign="top">
						<select name="resolution[]" multiple size="7">{resolution}</select>
					</td>
          <td align="left" valign="top">
						<select name="os[]" multiple size="7">{os}</select>
					</td>
          <td align="left" valign="top">
						<select name="priority[]" multiple size="7">{priority}</select>
					</td>
          <td align="left" valign="top">
						<select name="severity[]" multiple size="7">{severity}</select>
					</td>
        </tr>
      </table>
			<br>
			<br>
     	<table>
        <tr>
          <td>
            <table border="1" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <table cellspacing="0" cellpadding="0">
                    <tr>
                      <td rowspan="2" valign="top">
                      Email: <input name="email1" size="30" value="">&nbsp;matching
                      as <select name="emailtype1">
                        <option value="rlike">
                          regexp
                        </option>

                        <option value="not rlike">
                          not regexp
                        </option>

                        <option selected value="like">
                          substring
                        </option>

                        <option value="=">
                          exact
                        </option>
                      </select> </td>

                      <td><input type="checkbox" name="emailfield1[]" value="Owner"
                      checked>Assigned To</td>
                    </tr>

                    <tr>
                      <td><input type="checkbox" name="emailfield1[]" value="Reporter">
                      Reporter</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
			</table>

      <table border="0">
        <tr>
          <td align="right">Summary:</td>

          <td><input name="Title" size="30" value=""></td>

          <td><select name="Title_type">
            <option value="like" selected>
              substring
            </option>

            <option value="rlike">
              regular expression
            </option>

            <option value="not rlike">
              not ( regular expression )
            </option>
          </select></td>
        </tr>

        <tr>
          <td align="right">A description entry:</td>

          <td><input name="Description" size="30" value=""></td>

          <td><select name="Description_type">
            <option value="like" selected>
              substring
            </option>

            <option value="rlike">
              regular expression
            </option>

            <option value="not rlike">
              not ( regular expression )
            </option>
          </select></td>
        </tr>

        <tr>
          <td align="right">URL:</td>

          <td><input name="URL" size="30" value=""></td>

          <td><select name="URL_type">
            <option value="like" selected>
              substring
            </option>

            <option value="rlike">
              regular expression
            </option>

            <option value="not rlike">
              not ( regular expression )
            </option>
          </select></td>
        </tr>
      </table>

			<hr align="left" width="640">
      <table>
				<tr>
					<td><b>Project:</b></td>
					<td>
						<select name="projects" onChange="updateMenus(this.form)">
							<option value=''>All</option>
							{projects}
						</select>
					</td>
				</tr>
				<tr>
					<td><b>Version:</b></td>
					<td>
						<select name="versions"><option value=''>All</option></select>
					</td>
				</tr>
				<tr>
					<td><b>Component:</b></td>
					<td>
						<select name="components"><option value=''>All</option></select>
					</td>
				</tr>
			</table>
			<hr align="left" width="640">
      <input type="hidden" name="op" value="doquery">
			<nobr><b>Sort By:</b> 
			<select name="order">
        <option value="BugID">
          Bug Number
        </option>
        <option selected value="Severity.SortOrder">
          Severity
        </option>
        <option value="Reporter">
          Reporter
        </option>
        <option value="Status.SortOrder">
          Status
        </option>
        <option value="Priority">
          Priority
        </option>
      </select>
			<select name="sort">
				<option selected value="asc">Ascending</option>
				<option value="desc">Descending</option>
			</select>
			</nobr> 
			<br>
			<br>
			Save this query as: <input maxlength="40" type="text" name="savedqueryname">
			<br>
			<input type="reset" value="Reset back to the default query">
			<input type="submit" value="Submit query"> 
    </form>
		<hr align="left" size="1" width="640">
		<b>Saved Queries</b>
		<br>
		<a href="{me}?op=mybugs">List bugs assigned to me</a>
		<br>
		<!-- BEGIN row -->
		<a href="{me}?{savedquerystring}">{savedqueryname}</a> (<a href="{me}?op=delquery&queryid={savedqueryid}" onClick="return confirm('Are you sure you want to delete this saved query?');">Delete</a>)<br>
		<!-- END row -->

  </body>
</html>

