<html>
	<head>
		<title><?php echo translate("Upgade phpBugTracker"); ?></title>
	</head>
	<body>
		<div align="center">
			<br>
			<br>
			<?php printf(translate('This script will upgrade your phpBugTracker database to version %s.'), $new_db_rev); ?>
			<br>
			<?php printf(translate('Please back up your database before running this script.')); ?>
			<br>
                        <!--  WTF?????
			**  <?php printf(translate('Before running this script: delete your old config.php file.')); ?>
			**  <br>
                        -->
			<br>
			<a href="<?php echo $_SERVER['PHP_SELF']; ?>?doit=1"><?php echo translate('Do it!'); ?></a>
		</div>
	</body>
</html>
