<table border="0" cellpadding="0" cellspacing="0" width="600">
    <tr>
	<td width="300" valign="top">
	    <form action="{$smarty.server.PHP_SELF}" method="post">
		<input type="hidden" name="do" value="changepassword">
		<table border="0" cellpadding="0" cellspacing="0" width="300">
		    <tr>
			<td colspan="2" width="300"><b>{$STRING.USER_PREF.ChangePassword}</b></td>
		    </tr>
{if $error}
		    <tr>
			<td colspan="2" width="300" class="error">{$error}</td>
		    </tr>
{/if}
		    <tr>
			<td colspan="2" width="300">{$STRING.USER_PREF.EnterNewPassword}</td>
		    </tr>
		    <tr>
			<td>{$STRING.USER_PREF.Password}: </td>
			<td><input type="password" name="pass1"></td>
		    </tr><tr>
			<td>{$STRING.USER_PREF.Verify}: </td>
			<td><input type="password" name="pass2"></td>
		    </tr><tr>
			<td colspan="2" align="center"><br>
			    <input type="reset"> <input type="submit" value="Submit"></td>
		    </tr>
		</table></form></td>
	<td width="300" valign="top"><form action="{$smarty.server.PHP_SELF}" method="post">
		<input type="hidden" name="do" value="changeprefs">
		<table border="0" cellpadding="0" cellspacing="0" width="300">
		    <tr>
			<td colspan="2" width="300"><b>{$STRING.USER_PREF.ChangePreferences}</b></td>
		    </tr><tr>
			<td colspan="2" width="300" class="error"></td>
		    </tr>
{section name=pref loop=$preferences}
		    <tr>
			<td>{$preferences[pref].label}: </td>
			<td><input type="checkbox" name="preferences[]" value="{$preferences[pref].pref}" {if $preferences[pref].checked}checked{/if}></td>
		    </tr>
{/section}
			<tr>
				<td>{$STRING.USER_PREF.DefResults}</td>
				<td><input type="text" name="def_results" value="{$def_results}" size="4"></td>
			</tr>
		    <tr>
			<td colspan="2" align="center"><br>
			    <input type="reset"> <input type="submit" value="Submit"></td>
		    </tr>
		</table></form></td>
    </tr>
</table>
<br>
<form action="{$smarty.server.PHP_SELF}" method="post">
    <input type="hidden" name="do" value="changecolumnlist">
    <table border="0" cellpadding="0" cellspacing="0" width="300">
	<tr>
	    <td width="300"><table border="0" cellpadding="0" cellspacing="0" width="300">
		    <tr>
			<td width="300" colspan="2"><b>{$STRING.USER_PREF.BugListColumns}</b></td>
		    </tr><tr>
			<td width="600" colspan="2">{$STRING.USER_PREF.ChooseFields}</td>
		    </tr>
{foreach key=key item=item from=$field_titles}
		    <tr valign="baseline">
		        <td><input type="checkbox" name="column_list[]" value="{$key}" {if in_array($key, $my_fields)}checked{/if}></td><td>{$item}</td>
		    </tr>
{/foreach}
		    <tr>
		        <td align="center" colspan="2"><br>
			    <input type="reset"> <input type="submit" value="Submit"></td>
		    </tr>
		</table></td>
	    <td valign="top">
{if count($votes)}
		<b>{$STRING.USER_PREF.Votes}</b>
		<table border="0" cellpadding="1" cellspacing="1" width="300">
		    <tr>
			<th>{$STRING.USER_PREF.Bug}</th>
			<th>{$STRING.USER_PREF.When}</th>
			<th>&nbsp;</th>
		    </tr>
    {section name=vote loop=$votes}
		    <tr{if $smarty.section.vote.iteration is even} class="alt"{/if}>
			<td align="center"><a href="bug.php?op=show&bugid={$votes[vote].bug_id}">#{$votes[vote].bug_id}</a></td>
			<td align="center">{$votes[vote].created_date|date:DATE_FORMAT}</td>
			<td align="center"><a href="{$smarty.server.PHP_SELF}?op=delvote&bugid={$votes[vote].bug_id}" onClick="return confirm('{$STRING.USER_PREF.SureDeleteVote}');">{$STRING.delete}</a></td>
		    </tr>
    {/section}
		</table>
{/if}
	    </td>
	</tr>
    </table>
</form>
