<form action="{me}" method="post">
<input type="hidden" name="do" value="changepassword">
	<table border="0" cellpadding="0" cellspacing="0" width="600">
		<tr>
			<td colspan="2" width="600"><b>Change Password</b></td>
		</tr>
		<tr>
			<td colspan="2" width="600">
				<font color="#ff0000">{error}</font>
			</td>
		</tr>
		<tr>
			<td colspan="2" width="600">Please enter your new password twice below</td>
		</tr>
		<tr>
			<td>Password: </td>
			<td><input type="password" name="pass1" value="{pass1}"></td>
		</tr>
		<tr>
			<td>Verify: </td>
			<td><input type="password" name="pass2" value="{pass2}"></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="reset">
				<input type="submit" value="Submit">
			</td>
		</tr>
	</table>
</form>
<form action="{me}" method="post">
<input type="hidden" name="do" value="changecolumnlist">
	<table border="0" cellpadding="0" cellspacing="0" width="600">
		<tr>
			<td width="600"><b>Bug List Columns</b></td>
		</tr>
		<tr>
			<td width="600">Choose the fields you want to see in the bug list</td>
		</tr>
		<!-- BEGIN column_list_row -->
		<tr>
			<td>
				<input type="checkbox" name="column_list[]" value="{column_name}" {checked}>
				{column_title}
			</td>
		</tr>
		<!-- END column_list_row -->
		<tr>
			<td>
				<input type="reset">
				<input type="submit" value="Submit">
			</td>
		</tr>
	</table>
</form>
