{include file="header.html" page_title="User Page"}
<table border="0" cellpadding="0" cellspacing="0" width="600">
	<td width="300" valign="top">
		<form action="{$smarty.server.PHP_SELF}" method="post">
		<input type="hidden" name="do" value="changepassword">
		<table border="0" cellpadding="0" cellspacing="0" width="300">
			<tr>
				<td colspan="2" width="300"><b>Change Password</b></td>
			</tr>
			{if $error}
				<tr>
					<td colspan="2" width="300" class="error">{$error}</td>
				</tr>
			{/if}
			<tr>
				<td colspan="2" width="300">Please enter your new password twice below</td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="password" name="pass1"></td>
			</tr>
			<tr>
				<td>Verify: </td>
				<td><input type="password" name="pass2"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<br>
					<input type="reset">
					<input type="submit" value="Submit">
				</td>
			</tr>
		</table>
		</form>
	</td>
	<td width="300" valign="top">
		<form action="{$smarty.server.PHP_SELF}" method="post">
		<input type="hidden" name="do" value="changeprefs">
		<table border="0" cellpadding="0" cellspacing="0" width="300">
			<tr>
				<td colspan="2" width="300"><b>Change Preferences</b></td>
			</tr>
			<tr>
				<td colspan="2" width="300" class="error"></td>
			</tr>
			{section name=pref loop=$preferences}
			<tr>
				<td>{$preferences[pref].label}: </td>
				<td><input type="checkbox" name="preferences[]" value="{$preferences[pref].pref}" {if $preferences[pref].checked}checked{/if}></td>
			</tr>
			{/section}
			<tr>
				<td colspan="2" align="center">
					<br>
					<input type="reset">
					<input type="submit" value="Submit">
				</td>
			</tr>
		</table>
		</form>
	</td>
</table>
<br>
<form action="{$smarty.server.PHP_SELF}" method="post">
<input type="hidden" name="do" value="changecolumnlist">
	<table border="0" cellpadding="0" cellspacing="0" width="300">
		<td width="300">
			<table border="0" cellpadding="0" cellspacing="0" width="300">
				<tr>
					<td width="300"><b>Bug List Columns</b></td>
				</tr>
				<tr>
					<td width="600">Choose the fields you want to see in the bug list</td>
				</tr>
				{foreach key=key item=item from=$field_titles}
					<tr>
						<td>
							<input type="checkbox" name="column_list[]" value="{$key}" {if in_array($key, $my_fields)}checked{/if}>
							{$item}
						</td>
					</tr>
				{/foreach}
				<tr>
					<td align="center">
						<br>
						<input type="reset">
						<input type="submit" value="Submit">
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			{if count($votes)}
				<b>Votes</b>
				<table border="0" cellpadding="1" cellspacing="1" width="300">
					<tr>
						<th>Bug</th>
						<th>When</th>
						<th></th>
					</tr>
					{section name=vote loop=$votes}
					<tr{if $smarty.section.vote.iteration is even} class="alt"{/if}>
						<td align="center"><a href="bug.php?op=show&bugid={$votes[vote].bug_id}">#{$votes[vote].bug_id}</a></td>
						<td align="center">{$votes[vote].created_date|date:DATE_FORMAT}</td>
						<td align="center"><a href="{$smarty.server.PHP_SELF}?op=delvote&bugid={$votes[vote].bug_id}" onClick="return confirm('Are you sure you want to delete this vote?');">Delete</a></td>
					</tr>
					{/section}
				</table>
			{/if}
		</td>
	</tr>
</table>
</form>
{include file="footer.html"}
