<html>
<head>
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <title>phpBugTracker - {$page_title}</title>
    <link rel="StyleSheet" href="styles/{$STYLE}.css" type="text/css">
	<link rel="stylesheet" type"text/css" href="styles/print.css" media="print">
    <META http-equiv="Content-Type" content="text/html; charset={$STRING.lang_charset}">
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="nav">
  <tr>
	<td class="nav" valign="middle"><img name="title" src="{$template_path}/images/title.gif" width="500" height="50" border="0" alt="" hspace="0" vspace="0"></td>
	<td align="right" valign="middle" class="nav">
		<form action="bug.php">
		<input type="hidden" name="op" value="show">
		{$STRING.WRAP.FindBug}
		<input name="bugid" type="text" id="bugid" size="4">
		&nbsp;
		</form>
	</td>
  </tr>
  <tr>
	<td bgcolor="#9999FF" height="4" colspan="2"><img src="images/spacer.gif" height="1" width="1"></td>
  </tr>
  <tr>
	<td bgcolor="#9999FF" colspan="2">
	  <table border="0" cellspacing="0" cellpadding="4">
			<tr>
			  <td><a href="index.php"><font class="navlink">{$STRING.WRAP.Home}</font></a></td>
			  <td>|</td>
			  <td><a href="bug.php?op=add"><font class="navlink">{$STRING.WRAP.AddNewBug}</font></a></td>
			  <td>|</td>
			  <td><a href="query.php?op=query"><font class="navlink">{$STRING.WRAP.QueryBugs}</font></a></td>
			  <td>|</td>
			  <td><a href="report.php"><font class="navlink">{$STRING.WRAP.ViewReports}</font></a></td>
				{if not NEW_ACCOUNTS_DISABLED and not $smarty.session.uid}
			  <td>|</td>
			  <td><a href="newaccount.php"><font class="navlink">{$STRING.WRAP.CreateNewAccount}</font></a></td>
				{/if}
			  <td>|</td>
			  <td><a href="docs/html/userguide.html"><font class="navlink">{$STRING.WRAP.Documentation}</font></a></td>
				{if isset($perm) and $perm->have_perm('Administrator')}
			  <td>|</td>
			  <td><a href="admin/project.php"><font class="navlink">{$STRING.WRAP.AdminTools}</font></a></td>
				{/if}
			</tr>
		</table>
	</td>
  </tr>
  <tr>
	<td bgcolor="#9999FF" height="4" colspan="2"><img src="images/spacer.gif" height="1" width="1"></td>
  </tr>
  <tr>
	<td bgcolor="#000000" height="1" colspan="2"><img src="images/spacer.gif" height="1" width="1"></td>
  </tr>
  {if $smarty.server.SCRIPT_NAME|basename neq 'newaccount.php'}
	<tr>
	    <td colspan="2" height="20" class="bottomnav">
		<form method="post" action="{$smarty.server.SCRIPT_NAME}{if $smarty.request.QUERY_STRING}?{$smarty.request.QUERY_STRING}{/if}">
		&nbsp;
		{if not $smarty.session.uid}
		    {if EMAIL_IS_LOGIN}
			{assign var="loginlabel" value="Email"}
		    {else}
			{assign var="loginlabel" value="Login"}
		    {/if}{$smarty.server.SCRIPT_NAME}
				{$loginerror}
				{$loginlabel}: <input type="text" name="username" class="bottomnavinput" value="{$smarty.cookies.phpbt_user}">
				Password: <input type="password" name="password" class="bottomnavinput">
				<input type="hidden" name="dologin" value="1">
				<input type="submit" value="Login" class="bottomnavinput">
				<input type="submit" name="sendpass" value="Email Password" class="bottomnavinput" title="Forgot your password?  Have it sent to you">
		    {if RECALL_LOGIN}
				<input type="checkbox" name="savecookie" value="1" {if !empty($smarty.cookies.phpbt_user)}checked{/if} class="bottomnavinput" title="Remember {$loginlabel} for next time"> Remember me
		    {/if}
		{else}
				Bugs assigned to me: <a href="query.php?op=mybugs&assignedto=1&open=1" title="Open">{$owner_open}</a> / <a href="query.php?op=mybugs&assignedto=1&open=0" title="Closed">{$owner_closed}</a>
				| Bugs reported by me: <a href="query.php?op=mybugs&reportedby=1&open=1" title="Open">{$reporter_open}</a> / <a href="query.php?op=mybugs&reportedby=1&open=0" title="Closed">{$reporter_closed}</a>
				| <a href="user.php">Personal Page</a>
				| <a href="logout.php">Logout {$smarty.session.uname}</a>
		{/if}
		&nbsp;
		</form>
	    </td>
	</tr>
  <tr>
	<td bgcolor="#000000" height="1" colspan="2"><img src="images/spacer.gif" height="1" width="1"></td>
  </tr>
  {/if}
  <tr>
	<td bgcolor="#ffffff" height="20" colspan="2"><img src="images/spacer.gif" height="1" width="1"></td>
  </tr>
</table>

{include file=$content_template}

</body>
</html>
