<html>
<head>
	<META HTTP-EQUIV="Expires" CONTENT="-1">
  <title>phpBugTracker - {TITLE}</title>
	<link rel="StyleSheet" href="global.css" type="text/css">
</head>
<body bgcolor="#ffffff" link="#006699" vlink="#006699" alink="#006699">
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="640" colspan="2"><hr size="1" width="640"></td>
	</tr>
	<tr>
		<td width="540" valign="center">
			<font id="stockfontb"><b>&nbsp;&nbsp;
				[
				<a href="index.php">Home</a> | 
				<a href="bug.php?op=add">Enter Bug</a> | 
				<a href="query.php?op=query">Query Bugs</a> | 
				<a href="report.php">Reporting</a> | 
				<a href="user.php">Personal Page</a> 
				<!-- BEGIN logoutblock -->
				| <a href="logout.php">Logout {loggedinas}</a>
				<!-- END logoutblock -->
				]
			</font>
		</td>
		<td width="100" align="right" valign="center">
			<font id="stockfontb"><b>
				[
				<a href="admin/project.php">Admin Tools</a>
				]	&nbsp;&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td width="640" colspan="2"><hr size="1" width="640"></td>
	</tr>
</table>
{content}
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="640" colspan="2"><hr size="1" width="640"></td>
	</tr>
	<tr>
		<td>
			<font id="stockfontb">
				<b><a href="#top">Top</a></b>
			</font>
		</td>
		<td align="right">
			<font id="stockfontb">
				<b><a href="index.php">Home</a></b>
			</font>
		</td>
	</tr>
</table>
