<html>
<head>
  <META HTTP-EQUIV="Expires" CONTENT="-1">
	<title>phpBugTracker - {TITLE}</title>
	<link rel="StyleSheet" href="css.php" type="text/css">
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
	<table width="100%" cellspacing="0" cellpadding="0" height="100%">
		<tr>
			<td width="150" height="30" class="nav">
				&nbsp;&nbsp;phpBugTracker
			</td>
			<form action="bug.php">
			<input type="hidden" name="op" value="show">
			<td height="30" class="nav" align="right">
				Find bug <input type="text" name="bugid" size="4" class="navinput">
				&nbsp;
			</td>
			</form>
		</tr>
		<tr>
			<td width="150" class="sidenav">
				<!-- Nav Links -->
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='index.php'">
					<a href="index.php" class="sidenavlink">Home</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='bug.php?op=add'">
					<a href="bug.php?op=add" class="sidenavlink">Add a New Bug</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='query.php?op=query'">
					<a href="query.php?op=query" class="sidenavlink">Query Bugs</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='report.php'">
					<a href="report.php" class="sidenavlink">View Reports</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='docs/html/userguide.html'">
					<a href="docs/html/userguide.html" class="sidenavlink">Read Documentation</a>
				</div>
				<!-- BEGIN adminnavblock -->
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='admin/project.php'">
					<a href="admin/project.php" class="sidenavlink">Admin Tools</a>
				</div>
				<!-- END adminnavblock -->
			</td>
			<td class="maincontent">
				&nbsp; {content}
			</td>
		</tr>
		<tr>
			<td width="150" height="30" class="sidenav">
				&nbsp
			</td>
			<form method="post" action="{me2}">
			<td height="30" class="bottomnav">
				&nbsp;
				<!-- BEGIN loginblock -->
					{loginerror}
					{loginlabel}: <input type="text" name="username" class="bottomnavinput" value="{cookielogin}"> 
					Password: <input type="password" name="password" class="bottomnavinput"> 
					<input type="hidden" name="dologin" value="1">
					<input type="submit" value="Login" class="bottomnavinput"> 
					<input type="submit" name="sendpass" value="Email Password" class="bottomnavinput" title="Forgot your password?  Have it sent to you"> 
          <!-- BEGIN cookieblock -->
            <input type="checkbox" name="savecookie" value="1" {cookiechecked} class="bottomnavinput" title="Remember {loginlabel} for next time"> Remember me   				  
    			<!-- END cookieblock -->
				<!-- END loginblock -->
				<!-- BEGIN logoutblock -->
				[ Bugs assigned to me: <a href="query.php?op=mybugs&assignedto=1&open=1" title="Open">{owner_open}</a> / <a href="query.php?op=mybugs&assignedto=1&open=0" title="Closed">{owner_closed}</a> 
				| Bugs reported by me: <a href="query.php?op=mybugs&reportedby=1&open=1" title="Open">{reporter_open}</a> / <a href="query.php?op=mybugs&reportedby=1&open=0" title="Closed">{reporter_closed}</a> 
				| <a href="user.php">Personal Page</a> 
				| <a href="logout.php">Logout {loggedinas}</a> 
				]
				<!-- END logoutblock -->
				&nbsp;
			</td>
			</form>
		</tr>
	</table>
</body>
</html>
<head><meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE"></head>
