.ARTICLE {
	font-family: "Verdana","Arial","Helvetica","MS Sans Serif","Sans-Serif";
	}

.TITLE { 
	font-family: "Verdana","Arial","Helvetica","MS Sans Serif","Sans-Serif";
	text-align: right;
	background-color: #FFDDBB;
	padding: .1em; }
	
.PROGRAMLISTING {
	border: 1px black solid;
	}
