body {
	font-family: "Verdana","Arial","Helvetica","MS Sans Serif","Sans-Serif";
	font-size: 10pt;
	}

TD {
	font-size: 10pt;
	}

H1.TITLE { 
	font-size: 20pt;
	font-family: "Tahoma", "Lucida", "Helvetica", "Arial", "Sans-Serif";
	text-align: right;
	//background-color: #FFDDBB;
	padding: .1em; 
	}
	
