<form action="project.php" method="post">
<input type="hidden" name="id" value="{projectid}">
<input type="hidden" name="do" value="project">
<table border="0">
	<tr>
		<td valign="top" rowspan="2" width="320">
			<table border="0">
				<tr>
					<td>
						<b>Project Information</b>
						<hr size="1">
						<font color="#ff0000">{error}</font>
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Name:
						<br>
						<input type="text" size="30" maxlength="30" name="name" value="{name}">
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Description:
						<br>
        		<textarea name="description" cols=40 rows=5 wrap=virtual>{description}</textarea>
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Active:
						<br>
        		<input type="checkbox" name="active" value="1" {active}>
					</td>
				</tr>
			</table>
		</td>
		<td width="320">
			<table border="0">
				<tr>
					<td>
						<b>Version Information</b>
						<hr size="1">
						<font color="#ff0000">{vf_error}</font>
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Initial Version:
						<br>
        		<input type="text" size="30" maxlength="30" name="vf_version" value="{vf_version}">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border="0">
				<tr>
					<td>
						<b>Component Information</b>
						<hr size="1">
						<font color="#ff0000">{cf_error}</font>
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Initial Component Name:
						<br>
        		<input type="text" size="30" maxlength="30" name="cf_name" value="{cf_name}">
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Description:
						<br>
        		<textarea name="cf_description" cols="30">{cf_description}</textarea>
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Owner:
						<br>
        		<select name="cf_owner"><option value="0">None</option>{cf_owner}</select>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<input type='submit' name='submit' value='Submit'>
</form>
