<!--<a href="{me}?op=add">Add a new user</a>-->
<br>
<table border="0">
	<tr>
		<td valign="top">
			<b>&nbsp;User List</b>
			<hr size="1">
			<table border="0">
				<tr>
					<th bgcolor="{logincolor}"><a href="{loginurl}">Login</a></th>
					<th bgcolor="{namecolor}"><a href="{nameurl}">Name</a></th>
					<th bgcolor="{datecolor}"><a href="{dateurl}">Created</a></th>
					<th bgcolor="{activecolor}"><a href="{activeurl}">Active</a></th>
				</tr>
				<!-- BEGIN row -->
				<tr class="{trclass}">
					<td><a href="{me}?op=edit&id={userid}">{login}</a></td>
					<td align="center">{name}</td>
					<td align="center">{date}</td>
					<td align="center">{active}</td>
				</tr>
				<!-- END row -->
				<tr>
					<td colspan="4" align="center">
						<br>
						{first} to {last} of {records}
						<br>
						{pages}
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<div align="right"><b>{action} user&nbsp;</b></div>
			<hr size="1">
			<form action="user.php" method="post">
			<input type="hidden" name="id" value="{fuserid}">
			<table border='0'>
			<tr>
        			<td colspan="2" align="center" valign="top">
								<font color="#ff0000">{error}</font>
							</td>
			</tr>
			<!-- BEGIN loginentryarea -->
			<tr>
        			<td align="right" valign="top">Login:</td>
        			<td><input type="text" size="20" maxlength="40" name="flogin" value="{flogin}"></td>
			</tr>
			<!-- END loginentryarea -->
			<tr>
        			<td align="right" valign="top">Email:</td>
        			<td><input type="text" size="20" maxlength="40" name="femail" value="{femail}"></td>
			</tr>
			<tr>
        			<td align="right" valign="top">FirstName:</td>
        			<td><input type="text" size="20" maxlength="40" name="ffirstname" value="{ffirstname}"></td>
			</tr>
			<tr>
        			<td align="right" valign="top">LastName:</td>
        			<td><input type="text" size="20" maxlength="40" name="flastname" value="{flastname}"></td>
			</tr>
			<tr>
        			<td align="right" valign="top">Password:</td>
        			<td><input type="text" size="20" maxlength="40" name="fpassword" value="{fpassword}"></td>
			</tr>
      <tr>
              <td align="right" valign="top">User Group:</td>
              <td>
                      <select name="fusergroup[]" size="3" multiple>
                      {fusergroup}
                      </select>
              </td>
      </tr>
			<tr>
        			<td align="right" valign="top">Active:</td>
        			<td><input type="checkbox" name="factive" value="1" {factive}></td>
			</tr>
			</table>
			<div align="right">
				<input type='submit' name='submit' value='Submit'>
			</div>
			</form>
		</td>
</table>
