<html>
	<head>
		<title>Smarty Templates Missing</title>
		<link rel="stylesheet" href="styles/default.css" type="text/css">
	</head>
	<body>
		<div class="error">
			The Smarty templates class is not in your include path.
			Without this class being available, phpBugTracker will not be able to work.
			Please visit <a href="http://www.phpinsider.com/php/code/Smarty/">the smarty
			website</a> and install the package.  Please reload this page when smarty 
			has been installed.
		</div>
	</body>
</html>
	
