<script language="JavaScript">
	var nameString = '{$STRING.givename}';

	{literal}
	function checkForm(frm) {
		if (frm.group_name.value == '') {
			alert(nameString);
			frm.group_name.focus();
			return false;
		}
		return true;
	}
	{/literal}
</script>
<b>{$page_title}&nbsp;</b>
<hr size="1">
<form action="{$smarty.server.PHP_SELF}" method="post" onSubmit="return checkForm(this)">
<input type="hidden" name="group_id" value="{$group_id}">
<input type="hidden" name="use_js" value="{$smarty.request.use_js}">
<table border='0'>
{if $error}
  <tr>
		<td colspan="2" class="error">{$error}</td>
  </tr>
{/if}
<tr>
  <td align="right" valign="top">Name:</td>
  <td><input type="text" size="20" maxlength="40" name="group_name" value="{$group_name|stripslashes|htmlspecialchars}"></td>
</tr>
<tr>
  <td align="right" valign="top">Assignable:</td>
  <td><input type="checkbox" name="assignable" value="1" {if $assignable > 0}checked="checked"{/if}></td>
</table>
<br>
<input type='submit' name='submit' value='Submit'>
</form>
