{if $user_id}
	{assign var="action" value=$STRING.edit}
{else}
	{assign var="action" value=$STRING.addnew}
{/if}
{if $smarty.request.use_js}
	{include file="admin/header-popup.html" page_title="$action Group"}
{else}
	{include file="admin/header.html" page_title="$action Group"}
{/if}	
<b>{$action} Group&nbsp;</b>
<hr size="1">
<form action="{$SCRIPT_NAME}" method="post">
<input type="hidden" name="group_id" value="{$group_id}">
<input type="hidden" name="use_js" value="{$smarty.request.use_js}">
<table border='0'>
{if $error}
  <tr>
		<td colspan="2" class="error">{$error}</td>
  </tr>
{/if}
<tr>
  <td align="right" valign="top">Name:</td>
  <td><input type="text" size="20" maxlength="40" name="group_name" value="{$group_name|stripslashes|htmlentities}"></td>
</tr>
</table>
<br>
<input type='submit' name='submit' value='Submit'>
</form>
{if $smarty.request.use_js}
	{include file="admin/footer-popup.html"}
{else}
	{include file="admin/footer.html"}
{/if}	
