<table border="0" width="100%">
  <tr>
    <td valign="top">
      <b>&nbsp;{$page_title}</b> - <a href="{$smarty.server.PHP_SELF}?op=add">{$STRING.addnew} Project</a>
      <hr size="1">
			<table border="0" cellpadding="2" cellspacing="1" width="100%">
				<tr>
					<th class="{$headers.name.class}"><a href="{$headers.name.url}">Project</a></th>
					<th class="{$headers.createddate.class}"><a href="{$headers.createddate.url}">Created</a></th>
					<th class="{$headers.active.class}"><a href="{$headers.active.url}">Active</a></th>
				</tr>
				{section name=project loop=$projects}
					<tr{if $smarty.section.project.iteration is even} class="alt"{/if}>
						<td>{if $perm->have_perm('Administrator') or $perm->have_perm_proj($projects[project].project_id)}<a href="{$smarty.server.PHP_SELF}?op=edit&id={$projects[project].project_id}">{$projects[project].project_name|stripslashes}</a>{else}{$projects[project].project_name|stripslashes}{/if}</td>
						<td align="center">{$projects[project].created_date|date:DATE_FORMAT}</td>
						<td align="center">{if $projects[project].active}Yes{else}No{/if}</td>
					</tr>
				{/section}
				<tr>
					<td colspan="3" align="center">
						<br>
  					{$first} - {$last} of {$total}
						<br>
						{if $pages ne "1"}[ {$pages} ]{/if}
  					<br>
					</td>
				</tr>
			</table>
    </td>
	</tr>
</table>
