<a href="{me}?op=add">Add a new project</a>
<br>
<br>
<table border="0">
	<tr bgcolor="#eeeeee">
		<th><a href="{nameurl}">Project</a></th>
		<th><a href="{createddateurl}">Created</a></th>
		<th><a href="{activeurl}">Active</a></th>
	</tr>
	<!-- BEGIN row -->
	<tr class='{trclass}'>
		<td><a href="{me}?op=edit&id={projectid}">{name}</a></td>
		<td align="center">{createddate}</td>
		<td align="center">{active}</td>
	</tr>
	<!-- END row -->
	<tr>
		<td colspan="3" align="center">
			<br>
			{first} to {last} of {records}
			<br>
			{pages}
		</td>
	</tr>
</table>
