<script language="JavaScript">
<!--
	var nameString = '{$STRING.givename}';
	var descString = '{$STRING.givedesc}';
	var versionString = '{$STRING.giveversion}';

	{literal}
	function checkForm(frm) {
		if (frm.project_name.value == '') {
			alert(nameString);
			frm.project_name.focus();
			return false;
		}
		if (frm.project_desc.value == '') {
			alert(descString);
			frm.project_desc.focus();
			return false;
		}
		if (frm.version_name.value == '') {
			alert(versionString);
			frm.version_name.focus();
			return false;
		}
		if (frm.component_name.value == '') {
			alert(nameString);
			frm.component_name.focus();
			return false;
		}
		if (frm.component_desc.value == '') {
			alert(descString);
			frm.component_desc.focus();
			return false;
		}
		return true;
	}
	{/literal}
// -->
</script>
<form action="project.php" method="post" onSubmit="return checkForm(this)">
<input type="hidden" name="id" value="0">
<input type="hidden" name="do" value="project">
<table border="0">
	<tr>
		<td valign="top" rowspan="2" width="320">
			<table border="0">
				<tr>
					<td>
						<b>Project Information</b>
						<hr size="1">
						{if $error}<div class="error">{$error}</div>{/if}
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Name:
						<br>
						<input type="text" size="30" maxlength="30" name="project_name" value="{$project_name|stripslashes|htmlspecialchars}">
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Description:
						<br>
        		<textarea name="project_desc" cols=40 rows=5 wrap=virtual>{$project_desc|stripslashes|htmlspecialchars}</textarea>
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Active:
						<br>
        		<input type="checkbox" name="active" value="1" {if $active}checked{/if}>
					</td>
				</tr>
			</table>
		</td>
		<td width="320">
			<table border="0">
				<tr>
					<td>
						<b>Version Information</b>
						<hr size="1">
						{if $version_error}<div class="error">{$version_error}</div>{/if}
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Initial Version:
						<br>
        		<input type="text" size="30" maxlength="30" name="version_name" value="{$version_name|stripslashes|htmlspecialchars}">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border="0">
				<tr>
					<td>
						<b>Component Information</b>
						<hr size="1">
						{if $component_error}<div class="error">{$component_error}</div>{/if}
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Initial Component Name:
						<br>
        		<input type="text" size="30" maxlength="30" name="component_name" value="{$component_name|stripslashes|htmlspecialchars}">
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Description:
						<br>
        		<textarea name="component_desc" cols="30">{$component_desc|stripslashes|htmlspecialchars}</textarea>
					</td>
				</tr>
				<tr>
        	<td valign="top">
						Owner:
						<br>
        		<select name="owner"><option value="0">None</option>{build_select box=owner selected=$owner}</select>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<input type='submit' name='submit' value='Submit'>
</form>
