<script language="JavaScript">
	var nameString = '{$STRING.givename}';
	var descString = '{$STRING.givedesc}';

	{literal}
	function checkForm(frm) {
		if (frm.status_name.value == '') {
			alert(nameString);
			frm.status_name.focus();
			return false;
		}
		if (frm.status_desc.value == '') {
			alert(descString);
			frm.status_desc.focus();
			return false;
		}
		return true;
	}
	{/literal}
</script>
<b>{$page_title}&nbsp;</b>
<hr size="1">
<form action="{$smarty.server.PHP_SELF}" method="post" onSubmit="return checkForm(this)">
<input type="hidden" name="status_id" value="{$status_id}">
<input type="hidden" name="use_js" value="{$smarty.request.use_js}">
<table border='0'>
{if $error}
  <tr>
		<td colspan="2" class="error">{$error}</td>
  </tr>
{/if}
<tr>
  <td align="right" valign="top">Name:</td>
  <td><input type="text" size="20" maxlength="40" name="status_name" value="{$status_name|stripslashes|htmlspecialchars}"></td>
</tr>
<tr>
  <td align="right" valign="top">Description:</td>
  <td><textarea name="status_desc" cols=20 rows=5 wrap=virtual>{$status_desc|stripslashes|htmlspecialchars}</textarea></td>
</tr>
<tr>
  <td align="right" valign="top">Sort Order:</td>
  <td><input type="text" size="3" maxlength="3" name="sort_order" value="{$sort_order}"></td>
</tr>
<tr>
	<td align="right" valign="top">Bugs Are:{$bug_open}</td>
	<td><input type="radio" name="bug_open" value="1"{if $bug_open neq 0} checked="checked"{/if}/>Open <input type="radio" name="bug_open" value="0"{if $bug_open eq 0} checked="checked"{/if}/>Closed</td>
</tr>
</table>
<br>
<input type='submit' name='submit' value='Submit'>
</form>
