<html>
<head>
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <title>phpBugTracker Admin - {$page_title}</title>
    <link rel="StyleSheet" href="../styles/{$STYLE}.css" type="text/css">
    <META http-equiv="Content-Type" content="text/html; charset={$STRING.lang_charset}">
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
	<td class="nav" valign="middle"><img name="title" src="{$template_path}/../images/title.gif" width="500" height="50" border="0" alt="" hspace="0" vspace="0"></td>
	<td align="right" valign="middle" class="nav">
		<form action="bug.php">
		<input type="hidden" name="op" value="show">
		{$STRING.WRAP.FindBug}
		<input name="bugid" type="text" id="bugid" size="4">
		&nbsp;
		</form>
	</td>
  </tr>
  <tr>
	<td bgcolor="#9999FF" height="4" colspan="2"><img src="images/spacer.gif" height="1" width="1"></td>
  </tr>
  <tr>
	<td bgcolor="#9999FF" colspan="2">
	  <table border="0" cellspacing="0" cellpadding="4">
			<tr>
			  <td><a href="configure.php"><font class="navlink">{$TITLE.configuration}</font></a></td>
			  <td>|</td>
			  <td><a href="project.php"><font class="navlink">{$TITLE.project}</font></a></td>
			  <td>|</td>
			  <td><a href="user.php"><font class="navlink">{$TITLE.user}</font></a></td>
			  <td>|</td>
			  <td><a href="group.php"><font class="navlink">{$TITLE.group}</font></a></td>
			  <td>|</td>
			  <td><a href="status.php"><font class="navlink">{$TITLE.status}</font></a></td>
			  <td>|</td>
			  <td><a href="resolution.php"><font class="navlink">{$TITLE.resolution}</font></a></td>
			</tr><tr>
			  <td><a href="severity.php"><font class="navlink">{$TITLE.severity}</font></a></td>
			  <td>|</td>
			  <td><a href="os.php"><font class="navlink">{$TITLE.os}</font></a></td>
			  <td>|</td>
			  <td><a href="database.php"><font class="navlink">{$TITLE.database}</font></a></td>
			  <td>|</td>
			  <td><a href="site.php"><font class="navlink">{$TITLE.site}</font></a></td>
			  <td>|</td>
			  <td><a href="../docs/html/userguide.html"><font class="navlink">{$STRING.WRAP.Documentation}</font></a></td>
			  <td>|</td>
			  <td><a href="../index.php"><font class="navlink">{$TITLE.usertools}</font></a></td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
	<td bgcolor="#9999FF" height="4" colspan="2"><img src="images/spacer.gif" height="1" width="1"></td>
  </tr>
  <tr>
	<td bgcolor="#000000" height="1" colspan="2"><img src="images/spacer.gif" height="1" width="1"></td>
  </tr>
	<tr>
	    <td colspan="2" height="20" class="bottomnav">
		<form method="post" action="{$smarty.server.REQUEST_URI}">
		&nbsp;
{if not $smarty.session.uid}
    {if EMAIL_IS_LOGIN}
	{assign var="loginlabel" value="Email"}
    {else}
	{assign var="loginlabel" value="Login"}
    {/if}
		{$loginerror}
		{$loginlabel}: <input type="text" name="username" class="bottomnavinput" value="{$smarty.cookies.phpbt_user}"> 
		Password: <input type="password" name="password" class="bottomnavinput"> 
		<input type="hidden" name="dologin" value="1">
		<input type="submit" value="Login" class="bottomnavinput"> 
		<input type="submit" name="sendpass" value="Email Password" class="bottomnavinput" title="Forgot your password?  Have it sent to you"> 
    {if RECALL_LOGIN}
		<input type="checkbox" name="savecookie" value="1" {if !empty($smarty.cookies.phpbt_user)}checked{/if} class="bottomnavinput" title="Remember {$loginlabel} for next time"> Remember me   				  
    {/if}
{else}
		Bugs assigned to me: <a href="../query.php?op=mybugs&assignedto=1&open=1" title="Open">{$owner_open}</a> / <a href="../query.php?op=mybugs&assignedto=1&open=0" title="Closed">{$owner_closed}</a> 
		| Bugs reported by me: <a href="../query.php?op=mybugs&reportedby=1&open=1" title="Open">{$reporter_open}</a> / <a href="../query.php?op=mybugs&reportedby=1&open=0" title="Closed">{$reporter_closed}</a> 
		| <a href="../user.php">Personal Page</a> 
		| <a href="../logout.php">Logout {$smarty.session.uname}</a>
{/if}
		&nbsp;
		</form>
	    </td>
	</tr>
  <tr>
	<td bgcolor="#000000" height="1" colspan="2"><img src="images/spacer.gif" height="1" width="1"></td>
  </tr>
  <tr>
	<td bgcolor="#ffffff" height="20" colspan="2"><img src="images/spacer.gif" height="1" width="1"></td>
  </tr>
</table>

{include file=$content_template}

</body>
</html>
