<html>
<head>
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <title>phpBugTracker Admin - {$page_title}</title>
    <link rel="StyleSheet" href="../styles/{$STYLE}.css" type="text/css">
    <META http-equiv="Content-Type" content="text/html; charset={$STRING.lang_charset}">
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
	<table width="100%" cellspacing="0" cellpadding="0" height="100%">
		<tr>
			<td width="150" height="30" class="nav">
				&nbsp;&nbsp;phpBugTracker
			</td>
			<td height="30" class="nav" align="right">
				<form action="../bug.php">
				<input type="hidden" name="op" value="show">
				Find bug <input type="text" name="bugid" size="4" class="navinput">
				&nbsp;
				</form>
			</td>
		</tr>
		<tr>
			<td width="150" class="sidenav">
				<!-- Nav Links -->
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='configure.php'">
					<a href="configure.php" class="sidenavlink">{$TITLE.configuration}</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='project.php'">
					<a href="project.php" class="sidenavlink">{$TITLE.project}</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='user.php'">
					<a href="user.php" class="sidenavlink">{$TITLE.user}</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='group.php'">
					<a href="group.php" class="sidenavlink">{$TITLE.group}</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='status.php'">
					<a href="status.php" class="sidenavlink">{$TITLE.status}</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='resolution.php'">
					<a href="resolution.php" class="sidenavlink">{$TITLE.resolution}</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='severity.php'">
					<a href="severity.php" class="sidenavlink">{$TITLE.severity}</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='os.php'">
					<a href="os.php" class="sidenavlink">{$TITLE.os}</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='database.php'">
					<a href="database.php" class="sidenavlink">{$TITLE.database}</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='site.php'">
					<a href="site.php" class="sidenavlink">{$TITLE.site}</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='../docs/html/userguide.html'">
					<a href="../docs/html/userguide.html" class="sidenavlink">{$STRING.WRAP.Documentation}</a>
				</div>
				<div class="navbox" onMouseOver="this.className='navboxselected'" onMouseOut="this.className='navbox'" onClick="document.location.href='../index.php'">
					<a href="../index.php" class="sidenavlink">{$TITLE.usertools}</a>
				</div>
			</td>
			<td class="maincontent">
				{include file=$content_template}
			</td>
		</tr>
		<tr>
			<td width="150" height="30" class="sidenav">
				&nbsp
			</td>
			<td height="30" class="bottomnav">
				<form method="post" action="{$smarty.server.REQUEST_URI}">
					&nbsp;
					{if not $smarty.session.uid}
						{if EMAIL_IS_LOGIN}
							{assign var="loginlabel" value="Email"}
						{else}
							{assign var="loginlabel" value="Login"}
						{/if}
						{$loginerror}
						{$loginlabel}: <input type="text" name="username" class="bottomnavinput" value="{$smarty.cookies.phpbt_user}"> 
						Password: <input type="password" name="password" class="bottomnavinput"> 
						<input type="hidden" name="dologin" value="1">
						<input type="submit" value="Login" class="bottomnavinput"> 
						<input type="submit" name="sendpass" value="Email Password" class="bottomnavinput" title="Forgot your password?  Have it sent to you"> 
          	{if RECALL_LOGIN}
            	<input type="checkbox" name="savecookie" value="1" {if !empty($smarty.cookies.phpbt_user)}checked{/if} class="bottomnavinput" title="Remember {$loginlabel} for next time"> Remember me   				  
    				{/if}
					{else}
						[ Bugs assigned to me: <a href="../query.php?op=mybugs&assignedto=1&open=1" title="Open">{$owner_open}</a> / <a href="../query.php?op=mybugs&assignedto=1&open=0" title="Closed">{$owner_closed}</a> 
						| Bugs reported by me: <a href="../query.php?op=mybugs&reportedby=1&open=1" title="Open">{$reporter_open}</a> / <a href="../query.php?op=mybugs&reportedby=1&open=0" title="Closed">{$reporter_closed}</a> 
						| <a href="../user.php">Personal Page</a> 
						| <a href="../logout.php">Logout {$smarty.session.uname}</a> 
						]
					{/if}
					&nbsp;
				</form>
			</td>
		</tr>
	</table>
</body>
</html>
