<form action="component.php" method="post">
<input type="hidden" name="id" value="{componentid}">
<input type="hidden" name="projectid" value="{projectid}">
<table border='0'>
<tr>
        <td align="right" valign="top">Project:</td>
        <td>{project}</td>
</tr>
<tr>
        <td align="right" valign="top">Name:</td>
        <td><input type="text" size="30" maxlength="30" name="name" value="{name}"></td>
</tr>
<tr>
        <td align="right" valign="top">Description:</td>
        <td><textarea name="description" cols=40 rows=5 wrap=virtual>{description}</textarea></td>
</tr>
<tr>
        <td align="right" valign="top">Owner:</td>
        <td><select name="owner"><option value='0'>None</option>{owner}</select></td>
</tr>
<tr>
        <td align="right" valign="top">Active:</td>
        <td align="left" valign="top"><input type="checkbox" name="active" value="1" {active}></td>
</tr>
</table>
<input type='submit' name='submit' value='Submit'>
</form>
