<form action="user.php" method="post">
<input type="hidden" name="id" value="{userid}">
<table border='0'>
<tr>
        <td align="right" valign="top">FirstName:</td>
        <td><input type="text" size="20" maxlength="40" name="firstname" value="{firstname}"></td>
</tr>
<tr>
        <td align="right" valign="top">LastName:</td>
        <td><input type="text" size="20" maxlength="40" name="lastname" value="{lastname}"></td>
</tr>
<tr>
        <td align="right" valign="top">Email:</td>
        <td><input type="text" size="20" maxlength="40" name="email" value="{email}"></td>
</tr>
<tr>
        <td align="right" valign="top">Password:</td>
        <td><input type="text" size="20" maxlength="40" name="password" value="{password}"></td>
</tr>
        
<tr>
        <td align="right" valign="top">UserType:</td>
        <td>
                <select name="usertype">
                {usertype}
                </select>
        </td>
</tr>
</table>
<input type='submit' name='submit' value='Submit'>
</form>
