<form action="version.php" method="post">
<input type="hidden" name="id" value="{versionid}">
<input type="hidden" name="projectid" value="{projectid}">
<table border='0'>
<tr>
        <td colspan="2" align="center" valign="top">
					<font color="#ff0000">{error}</font>
				</td>
</tr>
<tr>
        <td align="right" valign="top">Project:</td>
        <td>{project}</td>
</tr>
<tr>
        <td align="right" valign="top">Version:</td>
        <td><input type="text" size="10" maxlength="10" name="version" value="{version}"></td>
</tr>
<tr>
        <td align="right" valign="top">Active:</td>
        <td align="left" valign="top"><input type="checkbox" name="active" value="1" {active}></td>
</tr>
</table>
<input type='submit' name='submit' value='Submit'>
</form>
