<table border="0" cellspacing="2" cellpadding="2">
	<tr bgcolor="#eeeeee">
		<th>Who</th>
		<th>What</th>
		<th>Old Value</th>
		<th>New Value</th>
		<th>When</th>
	</tr>
	<!-- BEGIN row -->
	<tr>
		<td bgcolor="{bgcolor}">{createdby}</td>
		<td bgcolor="{bgcolor}">{field}</td>
		<td bgcolor="{bgcolor}">&nbsp;{oldvalue}</td>
		<td bgcolor="{bgcolor}">&nbsp;{newvalue}</td>
		<td bgcolor="{bgcolor}">{date}</td>
	</tr>
	<!-- END row -->
</table>
<br>
<a href="{me}?op=show&bugid={bugid}">Back to bug #{bugid}</a>
<br>
<br>
