<h2>Create a new account</h2>
<form action="{me}" method="post">
<table border="0">
	<tr>
		<td align="center" colspan="2">
			<font color="#ff0000">{error}</font>
		</td>
	</tr>
	<tr>
		<td align="right">Email: </td>
		<td><input type="text" name="email" value="{email}"></td>
	</tr>
	<tr>
		<td align="right">First Name (optional):</td>
		<td>
			<input type="text" name="firstname" value="{firstname}">
		</td>
	</tr>
	<tr>
		<td align="right">Last Name (optional):</td>
		<td>
			<input type="text" name="lastname" value="{lastname}">
		</td>
	</tr>
</table>
<input type="submit" value="Create new account">
</form>
		
