/* Validated with http://jigsaw.w3.org/css-validator/ */
body { 
    font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif"; 
    font-size: 12px; 
    color: #000000;
    background: #ffffff;
    margin: 0px;
}

a:link      { text-decoration: none; color: #006699; }
a:visited   { text-decoration: none; color: #006699; }   
a:active    { text-decoration: none }
a:hover     { text-decoration: underline; }

td { 
    font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif"; 
    font-size: 12px; 
    color: #000000;
}

tr.alt {
    background: #dddddd;
}

tr.bugrow:hover {
    background: #ccffcc;
    cursor: pointer;
}	

th { 
    font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif"; 
    font-size: 12px;
    color: #000000;
    background-color: #ffc;
}

th.selected {
    font-weight: bold; 
    text-align: center;
    background-color: #ffc;
    font-style: italic;
}

select {
    font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif"; 
    font-size: 12px;
}

input {
    font-size: 12px;
}

input[type="file"] {
    font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif"; 
    font-size: 12px;
}

input[type="submit"] {
    font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif"; 
}

input[type="reset"] {
    font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif"; 
}

textarea {
    font-size: 12px;
}

.banner { 
    text-align: center; 
    font-weight: bold;
    padding: 1.5em;
    font-size: 16px;
}

.error {
    text-align: center;
    font-weight: bold;
    color: #ff0000;
    padding-bottom: 0.1em;
    font-size: 150%;
}

.result {
    text-align: center;
    font-weight: bold;
    color: #0000ff;
    padding-bottom: 0.1em;
}

.nav {
    vertical-align: middle;
    background: #9999ff;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.bottomnavinput {
    vertical-align: middle;
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 10px;
}

.maincontent {
    vertical-align: top;
    background: #ffffff;
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    padding: 5px;
}

.info {
    font-size: 10px;
    color: #000000;
    background:  #eeeeee;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    border-style: solid;
    padding: 5px;
    text-align: center;
}

.header-col { font-weight: bold; }
.center-col { text-align: center; }

.bordertable {
    width: 90%;
}

.bordertable, .bordertable td {
    border: 1px solid #666666;
    border-collapse: collapse;
}

.bordertable td {
    padding: 2px 4px;
}

.pagination {
    padding: 5px;
}

a.closed_bug_number { 
    text-decoration: line-through;
}

.header_image {
    height: 55px;
}

.header_search {
    position: absolute;
    top: 10px;
    right: 0px;
    height: 40px;
}

#tabnav {
    height: 22px;
    margin: 0;
    padding-left: 6px;
}

#tabnav li {
    margin: 0; 
    padding: 0;
    display: inline;
    list-style-type: none;
}

#tabnav a:link, #tabnav a:visited {
    float: left;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    padding: 2px 5px 2px 0px;
    margin-right: 4px;
    /* border-left: 1px solid #000; */
    text-decoration: none;
    color: #fff;
}

#tabnav a:hover {
    text-decoration: underline;
}

.personalarea {
    /* position: absolute;
    top: 77px; */
    width: 100%;
    /* height: 50px; */
    background: #ffc;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

