body {
  font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif";
	font-size: 12px;
	color: #000000;
	background: #ffffff;
	}

a:link      { text-decoration: none; color: #006699; }
a:visited   { text-decoration: none; color: #006699; }
a:active    { text-decoration: none }
a:hover     { text-decoration: underline; }

td {
  font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif";
  font-size: 12px;
	color: #000000;
	}

tr.alt {
	background: #dddddd;
	}

th {
  font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif";
  font-size: 12px;
	color: #000000;
	background-color: #eeeeee;
	}

th.selected {
	font-weight: bold;
	text-align: center;
	background-color: #bbbbbb;
	}

select {
  font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif";
	font-size: 12px;
	}

input {
	font-size: 12px;
	}

input[type="file"] {
  font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif";
	font-size: 12px;
	}

input[type="submit"] {
  font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif";
	}

input[type="reset"] {
  font-family: "Arial","Helvetica","MS Sans Serif","Sans-Serif";
	}

textarea {
	font-size: 12px;
	}

.navfont {
  font-family: "Verdana","Arial","Helvetica","MS Sans Serif","Sans-Serif";
  font-size: 10px;
	}

.login-box {
	vertical-align: text-bottom;
	font-size: 10px;
	display: none;
	}

input[type="text"].login-box {
	padding-top: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	}

.banner {
	text-align: center;
	font-weight: bold;
	padding: 1.5em;
	font-size: 16px;
}

.error {
	text-align: center;
	font-weight: bold;
	color: #ff0000;
	padding-bottom: 0.1em;
	}

.result {
	text-align: center;
	font-weight: bold;
	color: #0000ff;
	padding-bottom: 0.1em;
	}

a.sidenavlink {
	color: #000000;
	text-decoration: none;
	}

.nav {
	vertical-align: middle;
	background: #9999ff;
	color: #ffffff;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	font-weight: bold;
	display: none;
	}

.navinput {
	vertical-align: middle;
	background: #ffffff;
	color: #00000;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	}

.sidenav {
	vertical-align: top;
	background: #9999ff;
	color: #ffffff;
	font-family: "Verdana", "Tahoma", "Helvetica", sans-serif;
	font-size: 14px;
	font-weight: bold;
	}

.bottomnav {
	vertical-align: middle;
	background: #ffffcc;
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	}

.bottomnavinput {
	vertical-align: middle;
	color: #00000;
	font-family: "Arial", sans-serif;
	font-size: 10px;
	}

.topnavbox {
	vertical-align: middle;
	background: #9999ff;
	color: #ffffff;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-width: 1px 0px 1px 0px;
	border-color: #ffffff;
	border-style: solid;
	padding: 5px;
	cursor: pointer;
	cursor: hand;
	display: none;
	}

.navbox {
	vertical-align: middle;
	background: #9999ff;
	color: #ffffff;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-width: 0px 0px 1px 0px;
	border-color: #ffffff;
	border-style: solid;
	padding: 5px;
	cursor: pointer;
	cursor: hand;
	display: none;
	}

.navboxselected {
	vertical-align: middle;
	background: #ffffcc;
	color: #ffffff;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-width: 0px 0px 1px 0px;
	border-color: #ffffff;
	border-style: solid;
	padding: 5px;
	cursor: pointer;
	cursor: hand;
	}

.maincontent {
	vertical-align: top;
	background: #ffffff;
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	padding: 5px;
	}

.info {
	font-size: 10px;
	color: #000000;
	background:  #eeeeee;
	border-width: 1px 1px 1px 1px;
	border-color: #000000;
	border-style: solid;
	padding: 5px;
	text-align: center;
}

.header-col { font-weight: bold; }
.center-col { text-align: center; }

.navlink {
	color: #FFFFFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.bugdisplaylinks {
	display: none;
}